nav> .active {
    
font-size: 0.8em;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 8px;
    
    background-color: #d50000;
    
    color: #ffffff;
   padding: 15px;
}
nav> .active:hover {
    color: #ffffff;
}
