.main-container_theme-white-with-shadow
{
    
     background-color: #ffffff;
      box-shadow: 0 0 16px rgba(107, 107, 107, 0.19);
}

@media (max-width: 768px )
{
      .main-container_theme-white-with-shadow {
background-color: #f7f7f7;

      }

}