.main-footer__header-copyight-info{
display: flex;

justify-content: center;
align-items: center;
    background-color: #eaeaea;
    height: 7vh;
    min-height: 40px;
    width: 100%;
    font-size: 0.7rem;
}