.visual-info-company__logo-main {
    
    height: 100%;
 width: 100%;


display: flex;
 background-size: 29rem;
    background-repeat: no-repeat;
    background-position: 12rem center;
    background-attachment: fixed;
}