.visual-info-company__logo-main {
    
    height: 100%;
 width: 100%;



 background-size: 45%;
    background-repeat: no-repeat;
    background-position: 15em center;
    background-attachment: fixed;
}