.main-info-block__text-info-company{
    
    width: 40%;
    height: 100%;
    display: flex;
flex-wrap: wrap;
    align-content:center;

  justify-content: center;  
    background-color: #f7f7f7;


}