
@font-face {
    font-family: Old Standard TT;
    src: url(fonts/Old_Standard_TT/OldStandard-Regular.ttf);

}

.main-info-block__story-arcticle{

    width: 90%;
      font-family: Old Standard TT;
    font-size: 1.06em; 
}