@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap');
.main-info-block__story-arcticle {
     width: 90%;
    font-size: 0.75rem;
    font-family: 'Old Standard TT', serif;
}
@media (max-width: 768px){
    .main-info-block__story-arcticle {
        font-size: 1.1rem;
        /* padding: 20px; */
    }

}