.main-container__main-info-block-common {
    height: 100vh;
    min-height: 500px;
    width: 100%;
    max-width: 1100px;
    display: flex;
    margin-top: -10vh;
}
@media (max-width: 768px)
{
    .main-container__main-info-block-common{
        margin-top: 0;
    }  
}