.link-basic_animation-hover {
    position: relative;
    display: inline-block;
    padding: 10px 0;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    -o-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
}

.link-basic_animation-hover::before {
    position: absolute;
    top: 100%;
    padding: 10px 0;
    color: #d50000;
    content: attr(data-hover);
  font-family: 'FontAwesome';
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

