/*
@font-face {
    font-family: Ubuntu;
    src: url(fonts/Ubuntu/Ubuntu-Regular.ttf);
}*/

@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

.main-info-block__h1-basic {
    width: 100%;
    color: #1e1e1e;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
}
@media (max-width: 768px){
    .main-info-block__h1-basic {
    letter-spacing: 0.06em;
font-size: 1.3rem;
padding-bottom: 10px;
}



}